* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .navbar {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 1rem;
  z-index: 4;
}

.container .navbar .logo {
  font-size: 23px;
  font-weight: 500;
}

.container .navbar .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 30px;
}

.container .navbar .navbar__items .navbar__search__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(58, 58, 58, 0.521);
  border-radius: 7px;
  width: 8%;
  padding: 0.2rem 0.4rem;
}

.container .navbar .navbar__items .navbar__search__area .navbar__search {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  display: none;
}

.container .navbar .navbar__items .navbar__search__area .search__img {
  width: 18px;
}

.container .navbar .navbar__items .signin {
  outline: none;
  border: none;
  background: transparent;
  width: 20%;
  height: 24px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 1rem;
}

.container .navbar .navbar__items .signin {
  color: rgba(58, 58, 58, 0.521);
}

.container .navbar .navbar__items .signin:hover {
  color: #fff;
  background: #44bb6a;
}

.container .navbar .navbar__items .signup {
  background-color: #44bb6a;
  color: #fff;
}

.container .navbar .navbar__items .signup:hover {
  color: rgba(58, 58, 58, 0.521);
  border: 1.5px solid #44bb6a;
  background: #fff;
  color: #44bb6a;
}

.container .navbar .mobile__navbar__item {
  display: none;
}

.container .navbar .mobile__navbar__item .mobile__navbar__area.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .section {
  height: 87vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2fbf6;
  position: relative;
  z-index: 1;
}

.container .section .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section .section__content .content__text {
  width: 32%;
}

.container .section .section__content .content__text .text__title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  line-height: 36px;
  width: 90%;
}

.container .section .section__content .content__text .text__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  margin: 0.7rem 0;
}

.container .section .section__content .content__text .text__btn {
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  background: transparent;
  padding: 0.6rem 1rem;
  border-radius: 7px;
  background: #424242;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 0.7rem;
}

.container .section .section__content .content__text .text__btn:hover {
  background-color: #44bb6a;
}

.container .section .section__content .content__img {
  position: relative;
}

.container .section .section__content .content__img .img {
  width: 68%;
  height: 72%;
}

.container .section .section__content .content__img .type__link {
  padding: 0.6rem 0.4rem;
  text-decoration: none;
  color: #000;
  -webkit-animation: 1.5s infinite;
          animation: 1.5s infinite;
  -webkit-animation-name: duk;
          animation-name: duk;
  background-color: #fff;
  font-size: 15px;
}

.container .section .section__content .content__img .type__link:nth-child(1) {
  width: 50px;
  height: 123px;
  background: red;
}

.container .section .section__content .content__img .type__link:nth-child(2) {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 25%;
  left: 0;
  border-radius: 9px 9px 0 9px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container .section .section__content .content__img .type__link:nth-child(3) {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 22%;
  right: 27%;
  border-radius: 9px 9px 9px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container .section .section__content .content__img .type__link:nth-child(4) {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 65%;
  left: -5%;
  border-radius: 9px 0 9px 9px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.container .section .section__content .content__img .type__link:nth-child(5) {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60%;
  right: 20%;
  border-radius: 0 9px 9px 9px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

@-webkit-keyframes duk {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes duk {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.container .modal_reg {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.377);
  min-height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 3;
}

.container .modal_reg .modal_exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.container .modal_reg .modal_exit .modal_close {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.container .modal_reg .reg {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .modal_reg .reg .reg_item {
  width: 30%;
  height: 450px;
  border: 1px solid #000;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.container .modal_reg .reg .reg_item .reg_items {
  width: 60%;
}

.container .modal_reg .reg .reg_item .reg_items .bio_box {
  margin: 1rem 0;
}

.container .modal_reg .reg .reg_item .reg_items .bio_box .uname,
.container .modal_reg .reg .reg_item .reg_items .bio_box .lname {
  display: inline-block;
  margin: 1rem 0;
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_reg .reg .reg_item .reg_items .email_box {
  height: 60px;
}

.container .modal_reg .reg .reg_item .reg_items .email_box .email {
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_reg .reg .reg_item .reg_items .email_box .email_result {
  font-size: 12px;
  font-family: 500;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .main_pwd {
  height: 60px;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .main_pwd .pwd {
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .main_pwd .pwd_result {
  font-size: 12px;
  font-family: 500;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .re_pwd {
  height: 60px;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .re_pwd .rpwd {
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_reg .reg .reg_item .reg_items .pwd_box .re_pwd .rpwd_result {
  font-size: 12px;
  font-family: 500;
}

.container .modal_reg .reg .reg_item .reg_items .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  outline: none;
  border: 1px solid #44bb6a;
  width: 45%;
  height: 28px;
  border-radius: 5px;
  background: #44bb6a;
  color: #fff;
  font-weight: 500;
}

.container .modal_reg .reg .reg_item .reg_items .btn:hover {
  background: #fff;
  color: #44bb6a;
  border-color: #44bb6a;
}

.container .modal_reg.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .modal_signin {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.377);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 3;
}

.container .modal_signin .modal_sign_exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 10vh;
}

.container .modal_signin .modal_sign_exit .modal_sign_close {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  margin-right: 1rem;
}

.container .modal_signin .signin {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .modal_signin .signin .signin_item {
  width: 30%;
  height: 450px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.container .modal_signin .signin .signin_item .signin_items {
  width: 60%;
}

.container .modal_signin .signin .signin_item .signin_items .signin_email_box {
  height: 60px;
}

.container .modal_signin .signin .signin_item .signin_items .signin_email_box .emails {
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_signin .signin .signin_item .signin_items .signin_email_box .emails_result {
  font-size: 12px;
  font-family: 500;
}

.container .modal_signin .signin .signin_item .signin_items .main_pwds {
  height: 60px;
}

.container .modal_signin .signin .signin_item .signin_items .main_pwds .pwds {
  outline: none;
  width: 100%;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 0.5rem;
}

.container .modal_signin .signin .signin_item .signin_items .main_pwds .pwds_result {
  font-size: 12px;
  font-family: 500;
}

.container .modal_signin .signin .signin_item .signin_items .signin_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  outline: none;
  border: 1px solid #44bb6a;
  width: 45%;
  height: 28px;
  border-radius: 5px;
  background: #44bb6a;
  color: #fff;
  font-weight: 500;
}

.container .modal_signin .signin .signin_item .signin_items .signin_btn:hover {
  background: #fff;
  color: #44bb6a;
  border-color: #44bb6a;
}

.container .modal_signin.active {
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .footer {
  z-index: 1;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 5vh;
}

@media (max-width: 767px) {
  .container .navbar {
    width: 100%;
  }
  .container .navbar .logo {
    font-size: 16px;
  }
  .container .navbar .navbar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .container .navbar .navbar__items .navbar__search__area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10%;
    padding: 5px;
  }
  .container .navbar .navbar__items .navbar__search__area .navbar__search {
    display: none;
  }
  .container .navbar .navbar__items .navbar__reg {
    width: 100%;
  }
  .container .navbar .navbar__items .navbar__reg .signin {
    width: 35%;
    font-size: 12px;
    font-weight: 600;
  }
  .container .navbar .mobile__navbar__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .navbar .mobile__navbar__item .mobile__navbar__area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .container .navbar .mobile__navbar__item .mobile__navbar__area.active {
    display: none;
  }
  .container .navbar .mobile__navbar__item .mobile__search__area {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    left: 0;
    top: 0;
    height: 10vh;
    width: 100%;
  }
  .container .navbar .mobile__navbar__item .mobile__search__area .mobile__search__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #000;
    width: 100%;
  }
  .container .navbar .mobile__navbar__item .mobile__search__area .mobile__search__items .arrow {
    width: 5%;
    height: 12px;
  }
  .container .navbar .mobile__navbar__item .mobile__search__area .mobile__search__items input {
    width: 90%;
    border: none;
    outline: none;
  }
  .container .navbar .mobile__navbar__item .mobile__search__area.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .container .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 90vh;
  }
  .container .section .section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
  }
  .container .section .section__content .content__text {
    width: 100%;
  }
  .container .section .section__content .content__text .text__title {
    width: 100%;
    font-size: 25px;
    text-align: center;
  }
  .container .section .section__content .content__text .text__text {
    font-size: 14px;
  }
  .container .section .section__content .content__text .text__btn {
    width: 100%;
  }
  .container .section .section__content .content__img {
    position: relative;
    text-align: center;
    width: 70%;
  }
  .container .section .section__content .content__img .type__link {
    padding: 0.3rem 0.2rem;
    font-size: 12px;
  }
  .container .section .section__content .content__img .type__link:nth-child(2) {
    position: absolute;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    left: 10%;
  }
  .container .section .section__content .content__img .type__link:nth-child(3) {
    position: absolute;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 0;
  }
  .container .section .section__content .content__img .type__link:nth-child(4) {
    position: absolute;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    left: 10%;
  }
  .container .section .section__content .content__img .type__link:nth-child(5) {
    position: absolute;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 5%;
  }
  .container .modal_signin .signin .signin_item {
    width: 80%;
    height: 373px;
  }
}
/*# sourceMappingURL=style.css.map */