* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  .navbar {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    .logo {
      padding: 0 1rem;
      font-size: 23px;
      font-weight: 600;
    }
    .navbar__items {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      height: 30px;
      .navbar__search__area {
        display: flex;
        align-items: center;
        border: 1px solid #000;
        border-radius: 7px;
        padding: 0.2rem;
        .navbar__search {
          border: none;
          outline: none;
          background: transparent;
          font-size: 14px;
          font-weight: 600;
        }
      }
      .navbar__reg {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .signin,
        .signup {
          outline: none;
          border: none;
          background: transparent;
          width: 35%;
          height: 24px;
          border-radius: 7px;
          font-size: 14px;
          font-weight: 600;
          transition: 0.5s;
        }
        .signin {
          color: rgba(58, 58, 58, 0.521);
        }
        .signin:hover {
          color: #fff;
          background: #44bb6a;
        }
        .signup {
          background-color: #44bb6a;
          color: #fff;
        }
        .signup:hover {
          color: rgba(58, 58, 58, 0.521);
          border: 1px solid rgba(58, 58, 58, 0.521);
          background: #fff;
        }
      }
    }

    .mobile__navbar__item {
      display: none;
      .mobile__navbar__area.active {
        display: flex;
      }
    }
  }

  .section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f2fbf6;
    .section__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .content__text {
        width: 32%;
        .text__title {
          font-size: 36px;
          font-weight: 600;
          color: #000;
          line-height: 36px;
          width: 90%;
        }
        .text__text {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          color: #000;
          margin: 0.7rem 0;
        }
        .text__btn {
          border: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          outline: none;
          background: transparent;
          padding: 0.6rem 1rem;
          border-radius: 7px;
          background: rgb(66, 66, 66);
          transition: 0.5s;
          margin-top: 0.7rem;
        }
        .text__btn:hover {
          background-color: #44bb6a;
        }
      }
      .content__img {
        position: relative;
        .img {
          width: 68%;
          height: 72%;
        }
        .type__link {
          padding: 0.6rem 0.4rem;
          text-decoration: none;
          color: #000;
          animation: 1.5s infinite;
          animation-name: duk;
          background-color: #fff;
        }
        .type__link:nth-child(1) {
          width: 50px;
          height: 123px;
          background: red;
        }
        .type__link:nth-child(2) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 25%;
          left: 0;
          border-radius: 9px 9px 0 9px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(3) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 22%;
          right: 27%;
          border-radius: 9px 9px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(4) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 65%;
          left: -5%;
          border-radius: 9px 0 9px 9px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(5) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 60%;
          right: 20%;
          border-radius: 0 9px 9px 9px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        @keyframes duk {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .navbar {
      width: 100%;
      .logo {
        display: none;
      }
      .navbar__items {
        display: none;
      }
      .mobile__navbar__item {
        width: 100%;
        display: flex;

        .mobile__navbar__area {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
        }
        .mobile__navbar__area.active {
          display: none;
        }
        .mobile__search__area {
          display: none;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          transform: translateY(-100%);
          left: 0;
          top: 0;
          height: 10vh;
          width: 100%;
          .mobile__search__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #000;
            width: 100%;
            .arrow {
              width: 5%;
              height: 12px;
            }
            input {
              width: 90%;
              border: none;
              outline: none;
            }
          }
        }
        .mobile__search__area.active {
          display: flex;
          transform: translate(0);
        }
      }
    }
    .section {
      display: flex;
      min-height: 90vh;
      .section__content {
        flex-direction: column;
        padding: 0.5rem;
        .content__text {
          width: 100%;
          .text__title {
            width: 100%;
            font-size: 28px;
            text-align: center;
          }
          .text__text {
            font-size: 15px;
          }
          .text__btn {
            width: 100%;
          }
        }
        .content__img {
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          .content__type {
            .type__link:nth-child(1) {
              position: absolute;
            }
          }
        }
      }
    }
    .box{
      min-height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
