* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  .navbar {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    z-index: 1;
    .logo {
      padding: 0 1rem;
      font-size: 23px;
      font-weight: 500;
    }
    .navbar__items {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      height: 30px;
      .navbar__search__area {
        display: flex;
        align-items: center;
        border: 1px solid rgba(58, 58, 58, 0.521);
        border-radius: 7px;
        padding: 0.2rem 0.4rem;

        .navbar__search {
          border: none;
          outline: none;
          background: transparent;
          font-size: 14px;
          font-weight: 500;
          width: 100%;
          display: none;
        }

        .search__img {
          width: 18px;
        }
      }

      .navbar__reg {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .signin,
        .signup {
          outline: none;
          border: none;
          background: transparent;
          width: 35%;
          height: 24px;
          border-radius: 7px;
          font-size: 14px;
          font-weight: 600;
          transition: 0.5s;
        }
        .signin {
          color: rgba(58, 58, 58, 0.521);
        }
        .signin:hover {
          color: #fff;
          background: #44bb6a;
        }
        .signup {
          background-color: #44bb6a;
          color: #fff;
        }
        .signup:hover {
          color: rgba(58, 58, 58, 0.521);
          border: 1.5px solid #44bb6a;
          background: #fff;
          color: #44bb6a;
        }
      }
    }

    .mobile__navbar__item {
      display: none;
      .mobile__navbar__area.active {
        display: flex;
      }
    }
  }

  .section {
    height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f2fbf6;
    position: relative;
    z-index: 1;
    .section__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .content__text {
        width: 32%;
        .text__title {
          font-size: 36px;
          font-weight: 600;
          color: #000;
          line-height: 36px;
          width: 90%;
        }
        .text__text {
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          color: #000;
          margin: 0.7rem 0;
        }
        .text__btn {
          border: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          outline: none;
          background: transparent;
          padding: 0.6rem 1rem;
          border-radius: 7px;
          background: rgb(66, 66, 66);
          transition: 0.5s;
          margin-top: 0.7rem;
        }
        .text__btn:hover {
          background-color: #44bb6a;
        }
      }
      .content__img {
        position: relative;
        .img {
          width: 68%;
          height: 72%;
        }
        .type__link {
          padding: 0.6rem 0.4rem;
          text-decoration: none;
          color: #000;
          animation: 1.5s infinite;
          animation-name: duk;
          background-color: #fff;
          font-size: 15px;
        }
        .type__link:nth-child(1) {
          width: 50px;
          height: 123px;
          background: red;
        }
        .type__link:nth-child(2) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 25%;
          left: 0;
          border-radius: 9px 9px 0 9px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(3) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 22%;
          right: 27%;
          border-radius: 9px 9px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(4) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 65%;
          left: -5%;
          border-radius: 9px 0 9px 9px;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        .type__link:nth-child(5) {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 60%;
          right: 20%;
          border-radius: 0 9px 9px 9px;
          background-color: #fff;
          box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        }
        @keyframes duk {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  .modal_reg {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.377);
    min-height: 100vh;
    transition: all 0.5s ease;
    z-index: 3;
    .modal_exit {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .modal_close {
        color: #fff;
        font-weight: 600;
        font-size: 32px;
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
    .reg {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .reg_item {
        width: 30%;
        height: 450px;
        border: 1px solid #000;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        .reg_items {
          width: 60%;
          .bio_box {
            margin: 1rem 0;
            .uname,
            .lname {
              display: inline-block;
              margin: 1rem 0;
              outline: none;
              width: 100%;
              height: 32px;
              border: 1px solid #000;
              border-radius: 5px;
              font-size: 15px;
              font-weight: 500;
              padding: 0 0.5rem;
            }
          }
          .email_box {
            height: 60px;
            .email {
              outline: none;
              width: 100%;
              height: 32px;
              border: 1px solid #000;
              border-radius: 5px;
              font-size: 15px;
              font-weight: 500;
              padding: 0 0.5rem;
            }
            .email_result {
              font-size: 12px;
              font-family: 500;
            }
          }
          .pwd_box {
            // margin: 1rem 0;
            .main_pwd {
              height: 60px;
              .pwd {
                outline: none;
                width: 100%;
                height: 32px;
                border: 1px solid #000;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 500;
                padding: 0 0.5rem;
              }
              .pwd_result {
                font-size: 12px;
                font-family: 500;
              }
            }

            .re_pwd {
              height: 60px;
              .rpwd {
                outline: none;
                width: 100%;
                height: 32px;
                border: 1px solid #000;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 500;
                padding: 0 0.5rem;
              }
              .rpwd_result {
                font-size: 12px;
                font-family: 500;
              }
            }
          }

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            outline: none;
            border: 1px solid #44bb6a;
            width: 45%;
            height: 28px;
            border-radius: 5px;
            background: #44bb6a;
            color: #fff;
            font-weight: 500;
          }
          .btn:hover {
            background: #fff;
            color: #44bb6a;
            border-color: #44bb6a;
          }
        }
      }
    }
  }

  .modal_reg.active {
    transform: translateY(0);
  }

  .modal_signin {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.377);
    transition: all 0.5s ease;
    z-index: 3;
    .modal_sign_exit {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .modal_sign_close {
        color: #fff;
        font-weight: 600;
        font-size: 32px;
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }

    .signin {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .signin_item {
        width: 30%;
        height: 450px;
        border: 1px solid #000;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        .signin_items {
          width: 60%;

          .signin_email_box {
            height: 60px;
            .emails {
              outline: none;
              width: 100%;
              height: 32px;
              border: 1px solid #000;
              border-radius: 5px;
              font-size: 15px;
              font-weight: 500;
              padding: 0 0.5rem;
            }
            .emails_result {
              font-size: 12px;
              font-family: 500;
            }
          }
          // margin: 1rem 0;
          .main_pwds {
            height: 60px;
            .pwds {
              outline: none;
              width: 100%;
              height: 32px;
              border: 1px solid #000;
              border-radius: 5px;
              font-size: 15px;
              font-weight: 500;
              padding: 0 0.5rem;
            }
            .pwds_result {
              font-size: 12px;
              font-family: 500;
            }
          }

          .signin_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            outline: none;
            border: 1px solid #44bb6a;
            width: 45%;
            height: 28px;
            border-radius: 5px;
            background: #44bb6a;
            color: #fff;
            font-weight: 500;
          }
          .signin_btn:hover {
            background: #fff;
            color: #44bb6a;
            border-color: #44bb6a;
          }
        }
      }
    }
  }

  .modal_signin.active {
    display: block;
    transform: translateY(0);
  }

  .footer {
    z-index: 1;
    min-height: 7vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 767px) {
    .navbar {
      width: 100%;

      .logo {
        font-size: 16px;
      }

      .navbar__items {
        display: flex;
        width: 100%;

        .navbar__search__area {
          display: flex;
          justify-content: center;
          width: 8%;
          .navbar__search {
            display: none;
          }
        }
        .navbar__reg {
          width: 100%;
          .signin,
          .signup {
            width: 35%;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
      .mobile__navbar__item {
        width: 100%;
        display: flex;

        .mobile__navbar__area {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          position: relative;
        }
        .mobile__navbar__area.active {
          display: none;
        }
        .mobile__search__area {
          display: none;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          transform: translateY(-100%);
          left: 0;
          top: 0;
          height: 10vh;
          width: 100%;
          .mobile__search__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #000;
            width: 100%;
            .arrow {
              width: 5%;
              height: 12px;
            }
            input {
              width: 90%;
              border: none;
              outline: none;
            }
          }
        }
        .mobile__search__area.active {
          display: flex;
          transform: translate(0);
        }
      }
    }
    .section {
      display: flex;
      max-height: 90vh;
      .section__content {
        flex-direction: column;
        padding: 0.5rem;
        .content__text {
          width: 100%;
          .text__title {
            width: 100%;
            font-size: 25px;
            text-align: center;
          }
          .text__text {
            font-size: 14px;
          }
          .text__btn {
            width: 100%;
          }
        }
        .content__img {
          position: relative;
          text-align: center;
          width: 100%;
         
          .type__link {
            padding: 0.3rem 0.2rem;
            font-size: 12px;
          }
          .type__link:nth-child(2) {
            position: absolute;
            transform: translateX(50%);
            left: 10%;
          }
          .type__link:nth-child(3) {
            position: absolute;
            transform: translateX(50%);
            right: 0;
          }
          .type__link:nth-child(4) {
            position: absolute;
            transform: translateX(50%);
            left: 10%;
          }
          .type__link:nth-child(5) {
            position: absolute;
            transform: translateX(50%);
            right: 5%;
          }
        }
      }
    }
  }
}
